th{
    color:tomato;
    background-color: blue;
    border: dotted 2px red;
} 

td{
    color:#ff0000;
    background-color: 	#33cc33;
    border: solid 1px blue;
}

p{
    color: orange;
}

.found{
    color: green;
}

.no-found{
    color: red;
}

/*menü*/

.menu-list{
    list-style-type: none;
}

.menu-list-item a{
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid 1px rgb(5, 204, 38);
    padding: /*top*/5px /*left and right*/8px /*bottom*/6px;
    margin:/*top*/3px /*right*/15px /*bottom*/0 /*left*/10px;
    
    display: block;
}